<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/fragments :: head" lang="en">
        <title>TNLI</title>
    </head>
    <body>

        <div class="mx-auto container w-25">
            <h3>Login</h3>
            <form role="form" th:action="@{/sign-in}" th:method="POST">
                <div class="form-group">
                    <label class="mx-auto" for="username">Username</label>
                    <input class="mx-auto form-control" type='text' id="username" name='username' value=''/>
                    <label class="mx-auto" for="password"> Password:</label>
                    <input class="mx-auto form-control" type="password" id="password" name="password" />

                    <input class="mx-auto btn btn-primary" name="submit" type="submit" value="submit" />
                </div>
            </form>
            <a class="btn btn-primary" th:href="@{/sign-up}">New User?</a>
        </div>
    </body>


